*{
    margin:0;
    padding: 0%;
    font-family: lato;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vw;
    width: 100%;
    background-color: #e0e0e0;
    
}

ul{
    list-style-type: none;
    display: flex;
}
.mobile-menu, .fechar{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #333;
    margin: 8px;
}
.divisor{
    width: 1px;
    height: 24px;
    background-color: #979797;
    margin-top: 10px;
}

.btn-bar{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    padding: 10px 16px;
    background-color: white;
    border: 1px solid white;
}

.btn-bar:hover{
    background-color: #333;
    color: white;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
}

.trans-area{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 344px;
    margin-right: 15px;
    border: 2px solid #979797;
    border-radius: 4px;
}

.trans-area .camp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form{
    width: 100%;
    margin-left: 22px;
    padding: 5px 0;
}

h2{
    font-style: normal;
    font-weight: bold;
    line-height: 122%;
    text-align: center;
}


.form input, select{
    height: 32px;
    width: 92%;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;

}


#button{
    background-color: #333;
    color: white;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0 15px;
    height: 32px;
    width: 92%;
}

#button:hover{
    background-color: #979797;
    color: #333;
    cursor: pointer;
}

select{
    cursor: pointer;
}



.res-area{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 580px;
    height: 344px;
    box-sizing: border-box;
    border-radius: 4px;
}

p{
    border-top:  1px solid #979797;
    padding-bottom: 5px;
}

.num{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-weight: 600;
}


@media(max-width:768px){
    body{
        overflow: hidden;
    }

    .nav-list{
        position: fixed;
        flex-direction:column;
        align-items: flex-end;
        justify-content:flex-start;
        width: 250px;
        height: 1000px;
        right: 0;
        padding-top: 10vh;
        background-color: #333;
    }
    .btn-bar{
        width: 250px;
        background-color: #333;
        color: #e0e0e0;
        border: none;
    }

    .fechar{
        justify-content: first baseline;
        color: #e0e0e0;
        font-size: 45px;
        
    }
    .btn-bar:hover{
        background-color: #c4c4c4;
        color: #333;
    }

    .divisor{
        display: none;
    }


    .mobile-menu, .fechar{
        display: block;
    }

    .nav-list{
        display: none;
    }
    .menu:hover .nav-list{
        display: flex;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .container .trans-area{
        width: 90%;
        height: 20vh;
        justify-content: space-around;
        margin: 0;
    }

    .trans-area .camp{
        flex-direction: row;}


    .res-area{
        width: 90%;
        height: 60%;
    }
}