*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}

.nav-bar{
/*Barra de navegação*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: #e0e0e0;
    padding-right: 30px;
}

.logo{
    margin: 0 20px;
}

a{
/*Link 'Controle Financeiro'*/
    text-decoration: none;
    color: #333;
}

.title-bar{
/*Titulo 'Controle Financeiro'*/
    width: 50%;
}

ul{
    list-style-type: none;
    display: flex;
}
.mobile-menu, .close{
/*menu hamburguer e botão 'X'*/
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #333;
    margin: 8px;
}
.divisor{
    width: 1px;
    height: 24px;
    background-color: #979797;
    margin-top: 10px;
}

.btn-bar{
/*Botões 'Cadastro...' e 'Limpar...' na barra de navegação*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border:none;
}

.btn-bar:hover{
    background-color: #333;
    color: white;
}

.btn-long{
    width: 200px;
}

.btn-short{
    width: 150px;
}

.container{
/*div que contém .transation-area e .extract-area */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.transation-area{
/*formulário de nova transação*/
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 344px;
    border: 2px solid #979797;
    border-radius: 4px;
}

.transation-area .camp{
/*Campos do formulário*/
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.form{
/*elementos dentro do formulario (inputs, labels, etc).*/
    padding: 5px 0;
}


h2{
    font-style: normal;
    font-weight: bold;
    line-height: 122%;
    text-align: center;
    margin: 0;
}

.form input, select{
/*Inputs e select do formulario*/
    height: 32px;
    width: 92%;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
}



#button{
/*botão do formulario*/
    background-color: #333;
    color: white;
    font-weight: 600;
    border: 1px solid #333;
    border-radius: 4px;
    margin: 0 15px;
    height: 32px;
    width: 92%;
}

#button:hover{
    background-color: #e0e0e0;
    font-weight: 600;
    color: #000;
    border: 1px solid #979797;
    cursor: pointer;
}

select{
    cursor: pointer;
}

.extract-area{
    display:flex;
    flex-direction: column;
    width: 580px;
    height: 344px;
    margin-left: 20px;
}

table{
    margin-top: 20px;
    padding: 20px;
}

tr .underline{
    border-bottom: 1px solid #979797;
}

tr .line{
    height: 34px;
}

@media(max-width:1100px){

    .nav-bar{
        text-align: center;
        padding-right: 0;
    }

    .title-bar {
        width: 100%;
    }

    .logo{
        margin-left: 10px;
    }

    .menu-list{
        position: fixed;
        flex-direction:column;
        justify-content:flex-start;
        width: 15em;
        height: 100%;
        right: 0;
        top: 0;
        padding-top: 50px;
        background-color: #333;
    }

    .menu-list{
        display: none;
    }

    .btn-bar{
        background-color: #333;
        width: 100%;
        color: #e0e0e0;
        border: none;
    }

    .close{
        margin: 20px;
        color: #e0e0e0;
        font-size: 25px;
        cursor: pointer;
        text-align: left;
    }
    .btn-bar:hover{
        background-color: #c4c4c4;
        color: #333;
    }

    .divisor{
        display: none;
    }


    .mobile-menu, .close {
        display: block;
    }

    .mobile-menu{
        margin-right: 10px;
    }
    
    .menu:hover .menu-list{
        display: flex;
        flex-direction: column;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .transation-area{
        width: 95%;
        height: 189px;
    }

    .form{
        padding: 0;
    }

    
    .long{
        width: 60%;
    }
    
    .long #merch-name{
        display: flex;
        justify-content: center;
        width: 97%;
    }

    .short{
        width: 20%;
    }

    .transation-area .camp{
        flex-direction: row;
    }
    
    .button{
        display: flex;
        justify-content: flex-end;
    }

    #button{
        width: 200px;
        height: 33px;
    }

    .extract-area{
        width: 95%;
        height: 60%;
        margin-top: 70px;
        margin-left: 0;
    }
}

@media (max-width: 414px){

    .logo{
        margin-left: 15px;
    }

    .menu-list{
        width: 80%;
    }

    .container .transation-area{
        width: 100%;
        height: 50%;
        border: none;
    }

    .transation-area h2{
        display: none;
    }

    .transation-area .camp{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 0 10px;
    }

    .form{
        width: 100%;
        padding: 10px 0;
    }

    .long #merch-name{
        width: 92%;
    }

    .button{
        justify-content: center;
        margin-top: 20px;
        width: 100%

    }

    #button{
        
        height: 32px;
        width: 100%;
    }


}