*{
    margin:0;
    padding: 0%;
    font-family: lato;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vw;
    width: 100%;
    background-color: #e0e0e0;
    
}

ul{
    list-style-type: none;
    display: flex;
}
.mobile-menu, .fechar{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #333;
    margin: 8px;
}
.divisor{
    width: 1px;
    height: 24px;
    background-color: #979797;
    margin-top: 10px;
}

.btn-bar{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    padding: 10px 16px;
    background-color: white;
    border: 1px solid white;
}

.btn-bar:hover{
    background-color: #333;
    color: white;
}

.logo{
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.trans-area{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 400px;
    height: 344px;
    margin-top: 31px;
    margin-left: 0;
    border: 2px solid #979797;
    border-radius: 4px;
}

h2{
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 122%;
    text-align: center;
}

.form {
    margin-left: 3.72% ;
    margin-right: 3.72%;
    height: 32px;
    width: 370px;

    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;

}

label{
    margin-left: 3.72% ;
    margin-right: 3.72%;
}

#button{
    background-color: #333;
    color: white;
}

#button:hover{
    background-color: #979797;
    color: #333;
    cursor: pointer;
}

select{
    cursor: pointer;
}

.res-area{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 580px;
    height: 344px;
    margin-top: 31px;
    margin-left: 420px;
    box-sizing: border-box;
    border-radius: 4px;
}

.merch{
    width: 97%;
    top: 60px;
    left: 20px;
    padding: 20px 10px;
}

p{
    border-top:  1px solid #979797;
    padding-bottom: 5px;
}

.num{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-weight: 600;
}

.total{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    margin-top: 31px;
    margin-left: 420px;
    width: 50%;
    height: 100%;
    top: 60px;
    left: 20px;
    padding: 30px 10px;
}

@media(max-width:1100px){
    body{
        overflow: hidden;
    }

    .nav-list{
        position: fixed;
        flex-direction:column;
        align-items: flex-end;
        justify-content:flex-start;
        width: 250px;
        height: 1000px;
        right: 0;
        padding-top: 10vh;
        background-color: #333;
    }
    .btn-bar{
        width: 250px;
        background-color: #333;
        color: #e0e0e0;
        border: none;
    }

    .fechar{
        justify-content: first baseline;
        color: #e0e0e0;
        font-size: 45px;
        
    }
    .btn-bar:hover{
        background-color: #c4c4c4;
        color: #333;
    }

    .divisor{
        display: none;
    }


    .mobile-menu, .fechar{
        display: block;
    }

    .nav-list{
        display: none;
    }
    .menu:hover .nav-list{
        display: flex;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .container .trans-area{
        flex-direction: row;
        width: 728px;
        height: 189px ;
    }
}